<%- include('../partials/html-head') %> 
<link rel="stylesheet" href="/stylesheets/shoppingLists/new.css"/>
<%- include('../partials/nav') %>

<h1>Add to List</h1>
<main>
    <div>
        <h2>
            <form action="/shoppingLists/<%= shoppingList._id %>/items" method="POST">
                <label>
                    Name:
                <input 
                    type="text" 
                    name="name"
                    required
                />
                </label><br>
                <label>
                    Store:
                <input 
                    type="text" 
                    name="store" 
                    required
                />
                </label><br>
                <label>
                    Category:
                <input 
                    type="text"
                    name="category" 
                    required
                />
                </label><br>
                <label for="quantity-select">Quantity:</label>
                <select name="quantity" id="quantity-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                <br>
                <button  id="addButton" type="submit">Add to List</button>
            </form>
        </h2>
    </div>
    <div>
        <h2><% shoppingList.items.forEach(item => { %>
            
            <td><%= item.name %></td>
            -
            <td><%= item.store %></td>
            -
            <td><%= item.category %></td>
            -
            <td><%= item.quantity %></td>
            </td><br>
        <% }) %>
        </h2>
    </div>
    <div>
        <a href="/shoppingLists/<%= shoppingList._id %>">
            <button  id="returnButton" >Return to Shopping List</button>
        </a>
    </div>
</main>

<%- include('../partials/footer') %>