<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/shoppingLists/show.css"/>
<%- include('../partials/nav') %>

<h1><%= shoppingList.name %></h1>
<a href="/shoppingLists/<%= shoppingList._id %>/new">
    <button  id="addButton">Add to Shopping List</button></a>
<main>
    <table id="list">.
        <thead>
            <tr>
                <th>Name</th>
                <th>Store</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% shoppingList.items.forEach(item => { %>
            <tr>
                    <td><%= item.name %></td>
                    <td><%= item.store %></td>
                    <td><%= item.category %></td>
                    <td><%= item.quantity %></td>
                    <td>
                        <a href="/shoppingLists/<%= shoppingList._id %>/items/<%= item._id %>/edit">Edit</a>
                    </td>
                    <td>
                        <form action="/shoppingLists/<%= shoppingList._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
                            <button class="btn" type="submit">❌</button>
                        </form>
                    </td>
            </tr>
            <% }) %>
        </tbody>
    </h2>
    </a>
    </table>

</main>
<%- include('../partials/footer') %>


