<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Shopping List</h1>
<h2><%= shoppingList.name %></h2>

<!-- <a href="/new">
    <button class="btn">Edit Shopping List</button>
</a> -->

<h2><% shoppingList.items.forEach(item => { %>
    <a href="/shoppingLists/<%= shoppingList._id %>/items/<%= item._id %>/edit">
    <td><%= item.name %></td>
    -
    <td><%= item.store %></td>
    -
    <td><%= item.category %></td>
    -
    <td><%= item.quantity %></td><br>
    <div>
        <form action="/shoppingLists/<%= shoppingList._id %>/items/<%= item._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">❌</button>
        </form>
    </div>
<% }) %></a>
<a href="/shoppingLists/<%= shoppingList._id %>/new">
    <button>Add to Shopping List</button>
</a>

<%- include('../partials/footer') %>
