<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Shopping List@!@</h1>

<a href="/items/new">
    <button class="btn">Edit Shopping List</button>
</a>

<h2><% items.forEach(item => { %>
    <td><%= item.name %></td>
    -
    <td><%= item.store %></td>
    -
    <td><%= item.category %></td>
    -
    <td><%= item.quantity %></td><br>
<% }) %>
</h2>

<%- include('../partials/footer') %>
